./src/config.h
**/*.o
**/Makefile
**/Makefile.in
configure
**/.deps
**/*.log
.autotools
.cproject
.project
.settings/
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure.ac~
configure~
depcomp
install-sh
missing
packaging/PKGBUILD
packaging/idemuxcpp.spec
src/.dirstamp
src/config.h.in
src/idemuxCPP
src/stamp-h1
test-driver
tests/test_barcode
tests/test_barcode.trs
tests/test_demuxer
tests/test_demuxer.trs
tests/test_parser
tests/test_parser.trs
